.modal-sidebar {
  position: fixed;
  background: #FFF;
  top: 0;
  right: 0;
  bottom: 0;

  &__link-container{
    display: grid;
    padding: 0 1rem;

    &__link{
      text-decoration: none;
      color: #495A73;
      width: 100%;
      padding: 0.25rem 0;
      text-align: right;
    }
  }
}

.modal-container__header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .modal-container__button{
    border: none;
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
  }

}