.sidebar {
  position: fixed;
  background: #FFF;
  top: 0;
  right: 0;
  bottom: 0;

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 5%;

    &__button{
      border: none;
      background-color: transparent;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

  }

  &__container{
    display: grid;
    padding: 0 1rem;
  }
}